<div class="experience_page" ng-controller="ExperienceController">
    <h1>Expériences</h1>
    <p class="en-tete">Cliquer sur un libellé pour faire apparaitre le détail d'une expérience.</p>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="experience in Experiences.Items"><a href="#">{{experience.Name}}</a></li>
        </ul>
    </div>
    <div class="contenu">   
        <div ng-include src="MeetingTracker.html"></div>
       <!-- <div ng-repeat="experience in Experiences.Items" class="panel-group" id="accordion{{experience.Id}}">
            <div class="panel panel-purple">
                <div class="panel-heading" id="heading{{experience.Id}}">
                    <h2 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion{{experience.Id}}" data-target="#collapse{{experience.Id}}">
                            {{experience.Name}}
                        </a>
                    </h2>
                </div>
                <div id="collapse{{experience.Id}}" aria-labelledby="heading{{experience.Id}}" class="panel-collapse collapse " ng-class="{
                                        '' : experience.Id != Experiences.DefaultProject,
                                        'in' : experience.Id == Experiences.DefaultProject
                                     }">
                    <div class="panel-body">
                        <div class="detail">
                            <div class="select-menu">
                                <ul class="custom-bar nav nav-tabs nav-justified ">
                                    <li ng-class="{
                                        'non-active' : experience.MenuActif != 0,
                                        'active' : experience.MenuActif == 0
                                     }" ng-click="experience.Change(0);">
                                        <a><b>Contexte</b></a>
                                    </li>
                                    <li ng-class="{
                                        'non-active' : experience.MenuActif != 1,
                                        'active' : experience.MenuActif == 1
                                     }" ng-click="experience.Change(1);">
                                        <a><b>Description</b></a>
                                    </li>
                                    <li ng-class="{
                                        'non-active' : experience.MenuActif != 2,
                                        'active' : experience.MenuActif == 2
                                     }" ng-click="experience.Change(2);">
                                        <a><b>Compétences liées</b></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <div ng-show="experience.MenuActif == 0">
                                    <h3>Contexte</h3>
                                    <div>
                                        {{experience.Contexte}}
                                    </div>
                                </div>
                                <div ng-show="experience.MenuActif == 1">
                                    <h3>Description</h3>
                                    <div>
                                        {{experience.Description}}
                                    </div>
                                </div>
                                <div ng-show="experience.MenuActif == 2">
                                    <h3>Compétences liées</h3>
                                    <div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Compétences humaines</div>
                                            <div class="panel-body">
                                                <div class="liste" ng-repeat="competenceHumaine in experience.CompetencesHumaines">
                                                    <a ng-click="goCompetence(0, competenceHumaine.Id)">
                                                        {{competenceHumaine.Libelle}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Compétences techniques</div>
                                            <div class="panel-body">
                                                <div class="liste" ng-repeat="competenceTechnique in experience.CompetencesTechniques">
                                                    <a ng-click="goCompetence(1, competenceTechnique.Id)">
                                                        {{competenceTechnique.Libelle}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>