
/* Colors */

$background_color : rgb(8, 5, 13);
$background_color_body : rgb(38, 38, 38);
$border_color : rgb(151, 0, 255);
$border_color_black : rgb(35, 1, 56);
$background_color_hover: rgb(35, 1, 56);
$text_color : white;

/* Tailles */

$height_header : 200px;
$padding_text : 10px;
