/* Colors */
/* Tailles */
/* line 3, ../sass/CollapseCustom.scss */
.panel {
  border-color: #bbadc4;
}
/* line 6, ../sass/CollapseCustom.scss */
.panel .panel-heading {
  color: white;
  background-color: #230138;
  border-color: #bbadc4;
}
/* line 12, ../sass/CollapseCustom.scss */
.panel .panel-body {
  background-color: #08050d;
}
/* line 16, ../sass/CollapseCustom.scss */
.panel .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bbadc4;
}
