/* Colors */
/* Tailles */
/* line 7, ../sass/Competence.scss */
.competence_page .title > div {
  display: inline-block;
}
/* line 11, ../sass/Competence.scss */
.competence_page .title .checkbox-slider--b input + span:after {
  background-color: #9700ff;
}
/* line 16, ../sass/Competence.scss */
.competence_page .title .checkbox-slider--b input:checked + span:before {
  background-color: #230138;
}
/* line 21, ../sass/Competence.scss */
.competence_page .toggle {
  padding-top: 20px;
  padding-left: 50px;
}
/* line 25, ../sass/Competence.scss */
.competence_page .toggle span {
  margin-left: 5px;
  margin-right: 5px;
}
/* line 31, ../sass/Competence.scss */
.competence_page .checkbox-slider--b input + span:before {
  margin-left: 145px;
}
/* line 35, ../sass/Competence.scss */
.competence_page .checkbox-slider--b input:checked + span:after,
.competence_page .checkbox-slider--b input:checked + span:after {
  margin-top: 20px;
  margin-left: 165px;
}
/* line 41, ../sass/Competence.scss */
.competence_page .checkbox-slider--b input + span:after,
.competence_page .checkbox-slider--b input + span:after {
  margin-top: 20px;
  margin-left: 145px;
}
