/* Colors */
/* Tailles */
/* line 4, ../sass/Experience.scss */
.experience_page .detail, .competence_page .detail {
  padding-top: 10px;
}
/* line 8, ../sass/Experience.scss */
.experience_page .en-tete, .competence_page .en-tete {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 13, ../sass/Experience.scss */
.experience_page .select-menu, .competence_page .select-menu {
  width: 99.05%;
  padding-top: 10px;
  margin: auto;
  margin-bottom: -1px;
}
/* line 20, ../sass/Experience.scss */
.experience_page .content, .competence_page .content {
  width: 99%;
  background-color: #262626;
  border: 1px solid #9700ff;
  padding: 10px;
  margin: auto;
}
/* line 28, ../sass/Experience.scss */
.experience_page .liste, .competence_page .liste {
  height: 25px;
}
