/* Colors */
/* Tailles */
/* tab color */
/* line 4, ../sass/NavBarCustom.scss */
.nav-tabs > li > a {
  background-color: #08050d;
  border: 1px solid #9700ff !important;
  color: white;
}

/* active tab color */
/* line 12, ../sass/NavBarCustom.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white;
  background-color: #262626;
  border-color: #9700ff;
  border-bottom: none !important;
}

/* hover tab color */
/* line 20, ../sass/NavBarCustom.scss */
.nav-tabs > li > a:hover {
  border-color: #9700ff;
  background-color: #230138;
}

/* line 25, ../sass/NavBarCustom.scss */
a {
  color: white;
}
/* line 28, ../sass/NavBarCustom.scss */
a:hover {
  color: #9700ff;
}

/* line 33, ../sass/NavBarCustom.scss */
.nav > li > a {
  padding: 2px 15px;
}

/* line 37, ../sass/NavBarCustom.scss */
.custom-bar {
  margin-top: -27px;
}
/* line 40, ../sass/NavBarCustom.scss */
.custom-bar * {
  height: 25px !important;
  padding-top: 2px;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
}

/* line 48, ../sass/NavBarCustom.scss */
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-bottom: none !important;
  border-color: #9700ff;
}
