/* Colors */
/* Tailles */
/* line 4, ../sass/StyleSheet.scss */
body {
  background-color: #08050d;
  color: white;
}
/* line 8, ../sass/StyleSheet.scss */
body .header {
  height: 200px;
  background-image: url(../../Assets/imgBanniere.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  border-bottom: 1px solid #bbadc4;
}
/* line 18, ../sass/StyleSheet.scss */
body .header p.signature {
  padding-left: 100px;
  font-weight: normal;
  font-size: 30px;
}
/* line 25, ../sass/StyleSheet.scss */
body .body {
  border: 1px solid #bbadc4;
  padding-bottom: 100px;
  background-color: #262626;
}
/* line 31, ../sass/StyleSheet.scss */
body .main-content {
  padding-left: 10px;
  padding-right: 10px;
}
