/* Colors */
/* Tailles */
.experience_page .detail, .competence_page .detail {
  padding-top: 10px; }

.experience_page .en-tete, .competence_page .en-tete {
  padding-top: 10px;
  padding-bottom: 10px; }

.experience_page .select-menu, .competence_page .select-menu {
  width: 99.05%;
  padding-top: 10px;
  margin: auto;
  margin-bottom: -1px; }

.experience_page .content, .competence_page .content {
  width: 99%;
  background-color: #262626;
  border: 1px solid #211920;
  padding: 10px;
  margin: auto; }

.experience_page .liste, .competence_page .liste {
  height: 25px; }

.experience_page .dropdown, .competence_page .dropdown {
  width: 200px;
  background-color: #211920; }
