/* Colors */
/* Matrice color */
/* Tailles */
.experience_page .radio label, .experience_page .checkbox label {
  padding-left: 32px; }

.experience_page .toggle {
  padding-top: 20px;
  padding-left: 130px;
  width: 500px; }
  .experience_page .toggle span {
    margin-left: 5px;
    margin-right: 5px; }

.experience_page .radio label, .experience_page .checkbox label {
  font-weight: bold;
  font-size: large; }

.experience_page .checkbox-slider--b input + span:before {
  margin-left: 280px; }

.experience_page .checkbox-slider--b input:checked + span:after,
.experience_page .checkbox-slider--b input:checked + span:after {
  margin-top: 20px;
  margin-left: 300px; }

.experience_page .checkbox-slider--b input + span:after,
.experience_page .checkbox-slider--b input + span:after {
  margin-top: 20px;
  margin-left: 280px; }
