@import 'Variables';


@font-face { 
  font-family: 'Lamina'; 
  src: url('../../../../fonts/PolenticalNeonRegular.ttf'); 
}


body {
    font-family: 'Lamina';
    font-size: 12px;
    background-color: $background_color;
    color: $text_color;

    .header {
        height: $height_header;
        background-image: url(../../../../Assets/imgBanniere.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        text-align: left;
        font-weight: bold;
        font-size: 40px;
        border-bottom: 1px solid $border_color;

        p.signature {
            padding-left: 100px;
            font-weight: normal;
            font-size: 30px;
        }
    }

    .body {
        border: 1px solid $border_color;
        padding-bottom: $height_header/2;
        background-color: $background_color_body;
    }

    .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}
