@import 'Variables';


@font-face {
    font-family: 'Lamina';
    src: url('../../../../fonts/PolenticalNeonRegular.ttf');
}

@font-face {
    font-family: 'Japane';
    src: url('../../../../fonts/Japaneseb.ttf');
}


.glyphicon-envelope, .glyphicon-list {
    margin-right: 10px;
}

.glyphicon-list {
    //height:80px;
}

.button-fixe, .button-fixe:focus {
    z-index: 999;
    font-size: large;
    font-weight: bold;
    position: fixed;
    bottom: 5%;
    background-color: $background_color_hover;
    border-color: $background_color;
    color: $text_color;

    &:hover {
        color: $text_color_hover;
        background-color: $background_color_body;
        border-color: $text_color_hover;
    }
}

.button-contact {
    width: 190px;
    height: 50px;
    right: 0px;
    margin-right: -10px;
}

.button-matrice {
    width: 170px;
    height: 90px;
    margin-left: -10px;
    text-align: left;

    div {
        display: inline-block;
    }
}

body {
    margin-bottom: 100px;
    font-family: 'Arial';
    font-size: 12px;
    background-color: $background_color;
    color: $text_color;

    .header {
        & > div {
            display: inline-table;
        }

        .lampe {
            float: right;
            font-size: xx-large;
            width: 100px;
            height: 100px;
            margin: auto;
            padding-top: 40px;
            padding-right: 40px;
        }

        .page-header {
            font-family: 'Japane';
            margin-left: 10px;
            border-bottom: none;
            margin-top: 5px;

            small {
                color: $text_color_hover;
            }
        }
    }



    .version {
        float: right;
        padding-right: 10px;
    }

    .body {
        border: 1px solid $border_color;
        padding-bottom: $height_header/2;
        background-color: $background_color_body;
    }

    .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    hr {
        border: solid 2px $border_color;
        border-radius: 10px;
    }

    .progress-bar {
        background-color: $text_color_hover !important;
    }

    a:hover {
        color: $text_color_hover;
        text-decoration: none;
    }

    a:focus {
        color: $text_color;
        text-decoration: none;
    }
}
