
/* Colors */

$background_color : rgb(59, 59, 59);
$background_color_body : rgb(38, 38, 38);
$border_color : rgb(33, 25, 32);
$border_color_black : rgb(35, 1, 56);
$background_color_hover: rgb(35, 1, 56);
$text_color : white;
$text_color_hover : rgb(182, 103, 191);

/* Matrice color */
$matrice_green : rgb(63, 83, 63);
$matrice_red : rgb(112, 82, 84);

/* Tailles */

$height_header : 80px;
$padding_text : 10px;
