
/* Colors */

$background_color : rgb(8, 5, 13);
$background_color_body : rgb(38, 38, 38);
$border_color : rgb(33, 25, 32);
$border_color_black : rgb(35, 1, 56);
$background_color_hover: rgb(35, 1, 56);
$text_color : white;
//$text_color_hover : rgb(112, 3, 180);

/* Tailles */

$height_header : 200px;
$padding_text : 10px;
