/* Colors */
/* Matrice color */
/* Tailles */
.contact_page .text {
  padding-top: 10px;
  padding-bottom: 10px; }

.contact_page .row label {
  display: block;
  text-align: right;
  height: 25px;
  margin-top: 4px !important; }

.contact_page .row input {
  width: 40%;
  height: 25px;
  margin-bottom: 4px !important;
  margin-top: 4px !important; }

.contact_page .row button {
  float: right;
  height: 25px;
  margin-top: 5px;
  padding-top: 0px; }

.contact_page .row button:hover {
  background-color: #1a0c1b; }

.contact_page .note-editing-area {
  height: 200px !important; }

@media only screen and (max-width: 1000px) {
  .contact_page label {
    display: none !important; } }
