<div class="panel-group" id="accordionTCSS">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTCSS" ng-click="GoTo('TCSS')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionTCSS" data-target="#collapseTCSS">
                    CSS SASS
                </a>
            </h2>
        </div>
        <div id="collapseTCSS" aria-labelledby="headingTCSS" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Angu... quoi ?</h3>
                    definition....
                </div>
                <hr />
                <div>
                    <h3>La théorie c'est bien mais concrètement ?</h3>
                    . du simple affichage de données dans un tableau (données récupérées en base) jusqu'à l'affichage d'une courbe
                    travail sur les performances au limites
                    . customisation des fonctionnalitées offertes par l'outils
                    . ajout d'extension de fonctionnalités trouvées sur le web
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <!--<nvd3 options="Techniques.TCSS.Graphe.options" data="Techniques.TCSS.Graphe.data"></nvd3>
                    TCSS
                    <div class="progress progress-striped">
                        <div class="progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="TCSS" aria-valuemax="1TCSS" style="width: 7TCSS%">
                            <span class="sr-only">7/1TCSS</span>
                        </div>
                    </div>
                    1TCSS
                    <p>préciser échelle</p>-->
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    ceci est un graphique, joli non ?
                    2014	2015	2016	2017	2A018
                    0	5	7	8	9	(sur une echelle de 1 à 10)
                    + desc pour plus tard
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>