<div class="panel-group" id="accordionTPlanDeTests">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTPlanDeTests" ng-click="GoTo('TPlanDeTests')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionTPlanDeTests" data-target="#collapseTPlanDeTests">
                    Plan de tests
                </a>
            </h2>
        </div>
        <div id="collapseTPlanDeTests" aria-labelledby="headingTPlanDeTests" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Angu... quoi ?</h3>
                    definition....
                </div>
                <hr />
                <div>
                    <h3>La théorie c'est bien mais concrètement ?</h3>
                    . du simple affichage de données dans un tableau (données récupérées en base) jusqu'à l'affichage d'une courbe
                    travail sur les performances au limites
                    . customisation des fonctionnalitées offertes par l'outils
                    . ajout d'extension de fonctionnalités trouvées sur le web
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <!--<nvd3 options="Techniques.TPlanDeTests.Graphe.options" data="Techniques.TPlanDeTests.Graphe.data"></nvd3>
                    TPlanDeTests
                    <div class="progress progress-striped">
                        <div class="progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="TPlanDeTests" aria-valuemax="1TPlanDeTests" style="width: 7TPlanDeTests%">
                            <span class="sr-only">7/1TPlanDeTests</span>
                        </div>
                    </div>
                    1TPlanDeTests
                    <p>préciser échelle</p>-->
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    ceci est un graphique, joli non ?
                    2014	2015	2016	2017	2A018
                    0	5	7	8	9	(sur une echelle de 1 à 10)
                    + desc pour plus tard
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <li><a ng-click="GoProjetProfessionel('TRAVAUX')">TRAVAUX</a></li>
                        <li><a ng-click="GoProjetProfessionel('MGM')">MGM</a></li>
                        <li><a ng-click="GoProjetProfessionel('EVERSUITE')">EVERSUITE</a></li>
                        <li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>