/* Colors */
/* Tailles */
/* line 5, C:/Users/loli/workspaces/Portfolio/WebSite/App/Home/Home.scss */
.home_page .description {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 10, C:/Users/loli/workspaces/Portfolio/WebSite/App/Home/Home.scss */
.home_page .conseil {
  padding-top: 30px;
  padding-bottom: 10px;
}
