<div class="panel-group" id="accordionHAdaptabilite">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingHAdaptabilite" ng-click="GoTo('HAdaptabilite')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionHAdaptabilite" data-target="#collapseHAdaptabilite">
                    Adaptabilité
                </a>
            </h2>
        </div>
        <div id="collapseHAdaptabilite" aria-labelledby="headingHAdaptabilite" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Ce que j'entends par "adaptabilité"</h3>
                    Capacité à être rapidement efficace dans une nouvelle situation.
                </div>
                <hr />
                <div>
                    <h3>Des exemples dans mon expérience</h3>
                    . Lors de mon arrivé sur paris pour mon master en alternance, j'ai dû en une semaine : déménager, découvrir la nouvelle ville, découvrir la nouvelle école et découvrir un nouveau lieu de travail.
                    . De plus ce nouveau travail comportait l'apprentissage d'une nouvelle technologie : silverlight.
                    . Dans deux des projets étudiants que j'ai pu faire, je me suis retrouvé face des situations similaires : un membre de l'équipe a "laché" le projet allors qu'il était en charge de taches importantes et ceux, quelques
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    0
                    <div class="progress progress-striped">
                        <div class="progress-bar" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10" style="width: 70%">
                            <span class="sr-only">8/10</span>
                        </div>
                    </div>
                    10
                    <p>préciser échelle</p>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Aucune évolution à venir, je le suis naturellement. Augmenter enocre plus ma confiance en moi et en mon travail afin de pouvoir prendre plus d'initiaves et moins déranger mes collègues avec des interrogations "inutiles"
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    Un peu sur tous les projet mais voici ceux dans lesquels ce savoir-être m'a le plus servi
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <li><a ng-click="GoProjetProfessionel('TRAVAUX')">TRAVAUX</a></li>
                        <li><a ng-click="GoProjetProfessionel('MGM')">MGM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>