<div class="panel-group" id="accordionTIME" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTIME" role="tab" ng-click="GoTo('TIME')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionTIME"
                   expanded="true" data-target="#collapseTIME" aria-controls="collapseTIME">
                    Professionel - TIME
                </a>
            </h2>
        </div>
        <div id="collapseTIME" aria-labelledby="headingTIME" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>{titre}</h3>
                    {titre}
                </div>
                <hr />
                <div>
                    <h3>{titre}</h3>
                    {titre}
                </div>
                <hr />
                <div>
                    <h3>{titre}</h3>
                    {titre}
                </div>
                <hr />
                <div>
                    <h3>{titre}</h3>
                    {titre}
                </div>
                <hr />
                <div>
                    <h3>{titre}</h3>
                    <a ng-click="GoCompetenceTechnique('AngularJS')">Go to comp angularJS</a>
                    <a ng-click="GoCompetenceHumaine('Adaptabilite')">Go to comp Adaptabilite</a>
                </div>
            </div>
        </div>
    </div>
</div>