<div class="matrice" ng-controller="MatriceController">
    <h1>Matrice des projets et des compétences</h1>
    <p>
        Cliquer sur un libellé de projet ou de compétence pour accéder à son descriptif.
    </p>
    <div id="table-2D">
        <div id="wrapper" tabindex="0">
            <div class="cell col1 row1 shadow-level1">
                <table>
                    <thead>
                        <tr>
                            <th class="diagonal-separator">
                                <div class="projet">
                                    Projets
                                </div>
                                <div class="competence">
                                    Compétences
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="row-wrapper" class="cell col2 row1 shadow-level2">
                <div id="row">
                    <table>
                        <thead>
                            <tr>
                                <th class="th-clickable clickable"
                                    ng-repeat="projet in Projets"
                                    unselectable="on"
                                    onselectstart="return false;"
                                    ng-click="GoProjet(projet.Type, projet.Lien)">
                                    <div><a>{{projet.Nom}}</a></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="col-wrapper" class="cell col1 row2 shadow-level3">
                <div id="col">
                    <table>
                        <tbody>
                            <tr>
                                <td class="competence-rowspan" rowspan="{{CompetencesHumaines.length}}">
                                    <div>HUMAINES</div>
                                </td>
                                <td class="td-clickable clickable"
                                    unselectable="on"
                                    onselectstart="return false;"
                                    ng-click="GoCompetence('H', CompetencesHumaines[0].Lien)">
                                    <div><a>{{CompetencesHumaines[0].Nom}}</a></div>
                                </td>
                            </tr>
                            <tr class="liste-comp-humaine" ng-repeat="competence in CompetencesHumaines" ng-if="!$first">
                                <td class="td-clickable clickable"
                                    unselectable="on"
                                    onselectstart="return false;"
                                    ng-click="GoCompetence('H', competence.Lien)">
                                    <div><a>{{competence.Nom}}</a></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="competence-rowspan" rowspan="{{CompetencesTechniques.length}}">
                                    <div>TECHNIQUES</div>
                                </td>
                                <td class="td-clickable clickable"
                                    unselectable="on"
                                    onselectstart="return false;"
                                    ng-click="GoCompetence('T', CompetencesTechniques[0].Lien)">
                                    <div><a>{{CompetencesTechniques[0].Nom}}</a></div>
                                </td>
                            </tr>
                            <tr class="liste-comp-technique" ng-repeat="competence in CompetencesTechniques" ng-if="!$first">
                                <td class="td-clickable clickable"
                                    unselectable="on"
                                    onselectstart="return false;"
                                    ng-click="GoCompetence('T', competence.Lien)">
                                    <div><a>{{competence.Nom}}</a></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="table" class="cell col2 row2 table-central">
                <table>
                    <tbody>
                        <tr ng-repeat="ligne in Contenu track by $index">
                            <td table-central ng-repeat="colonne in ligne  track by $index" ng-class="{'green-cell' : colonne == 1, 'red-cell' : colonne == 0}">
                                <span ng-class="{'glyphicon glyphicon-ok' : colonne == 1, 'glyphicon glyphicon-remove' : colonne == 0}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="legende">
        <table>
            <tbody>
                <tr>
                    <th colspan="2">Légende</th>
                </tr>
                <tr>
                    <td class="desc">Compétence utilisée dans le projet</td>
                    <td class="green-cell"><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr>
                    <td class="desc">Compétence non utilisée dans le projet</td>
                    <td class="red-cell"><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // Lier les tables "header" avec les scrollers du tableau principal
        function scrollHandler(e) {
            $('#row').css('left', -$('#table').get(0).scrollLeft);
            $('#col').css('top', -$('#table').get(0).scrollTop);
        }
        $('#table').scroll(scrollHandler);
        $('#table').resize(scrollHandler);

        var animate = false;

        var speedX = "140";
        var speedY = "50";

        // Gestion de la navigation dans le tableau via les touches du clavier
        $('#wrapper').keydown(function (event) {
            if (animate) { event.preventDefault(); };
            if (event.keyCode == 37 && !animate) {
                animate = true;
                $('#table').animate({ scrollLeft: "-=" + speedX }, "fast", function () {
                    animate = false;
                });
                event.preventDefault();
            }
            else if (event.keyCode == 39 && !animate) {
                animate = true;
                $('#table').animate({ scrollLeft: "+=" + speedX }, "fast", function () {
                    animate = false;
                });
                event.preventDefault();
            }
            else if (event.keyCode == 38 && !animate) {
                animate = true;
                $('#table').animate({ scrollTop: "-=" + speedY }, "fast", function () {
                    animate = false;
                });
                event.preventDefault();
            }
            else if (event.keyCode == 40 && !animate) {
                animate = true;
                $('#table').animate({ scrollTop: "+=" + speedY }, "fast", function () {
                    animate = false;
                });
                event.preventDefault();
            }
        });
    });
</script>