/* Colors */
/* Tailles */
.panel {
  border-color: #211920; }
  .panel .panel-heading {
    color: white;
    background-color: #230138;
    border-color: #211920; }
  .panel .panel-body {
    background-color: #08050d; }
  .panel .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #211920; }
