/* Colors */
/* Tailles */
/* tab color */
.nav-tabs > li > a {
  background-color: #08050d;
  border: 1px solid #bbadc4 !important;
  color: white;
  box-shadow: inset 0px 10px 10px 3px #230138; }

/* active tab color */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white;
  background-color: #262626;
  border-color: #bbadc4;
  border-bottom: none !important; }

/* hover tab color */
.nav-tabs > li > a:hover {
  border-color: #bbadc4;
  background-color: #230138; }

a {
  color: white; }
  a:hover {
    color: #bbadc4; }

.nav > li > a {
  padding: 2px 15px; }

.custom-bar {
  margin-top: -27px; }
  .custom-bar * {
    height: 25px !important;
    padding-top: 2px;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-bottom: none !important;
  border-color: #bbadc4; }
