/* Colors */
/* Tailles */
/* tab color */
.nav-tabs > li > a {
  background-color: #08050d;
  border: 1px solid #211920 !important;
  color: white; }

/* active tab color */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white;
  background-color: #262626;
  border-color: #211920;
  border-bottom: none !important; }

/* hover tab color */
.nav-tabs > li > a:hover {
  border-color: #211920;
  background-color: #230138; }

a {
  color: white; }
  a:hover {
    color: #211920; }

.nav > li > a {
  padding: 2px 15px; }

.custom-bar {
  margin-top: -27px; }
  .custom-bar * {
    height: 25px !important;
    padding-top: 2px; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-bottom: none !important;
  border-color: #211920; }
