<html lang="fr" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Portfolio/Julie </title>
    <meta charset="utf-8" />
    <link href="Library/bootstrap.css" rel="stylesheet">
    <link href="Library/titatoggle-dist.css" rel="stylesheet">
    <link href="App/Generate/Css/Competence/Competence.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Contact/Contact.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Experience/Experience.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/General/CollapseCustom.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/General/NavBarCustom.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/General/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/General/Variables.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Home/Home.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Loisir/Loisir.css" rel="stylesheet" type="text/css" />
    <script src="Library/jquery-2.2.3.js"></script>
    <script src="Library/bootstrap.js"></script>
    <script src="Library/require.js"></script>
    <script src="Library/angular.js"></script>
    <script src="Library/angular-ui-router.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>-->
    <script src="Route.js"></script>
    <script src="app.js"></script>
    <script src="App/Competence/Competence.js"></script>
    <script src="App/Contact/Contact.js"></script>
    <script src="App/Experience/Experience.js"></script>
    <script src="App/General/Menu.js"></script>
    <script src="App/Home/Home.js"></script>
    <script src="App/Loisir/Loisir.js"></script>
</head>
<body ng-controller="MenuController">
    <div class="header">
        <span>E-Portfolio Julie Pélissou</span>
        <!--<p class="signature">Signé : Pélissou Julie</p>-->
    </div>
    <div class="version">
        <p>Version : {{Menu.Version}}</p>
    </div>
    <div class="body">
        <div class="row menu-onglet">
            <div class="col-md-8 col-md-offset-2">
                <ul class="custom-bar nav nav-tabs nav-justified ">
                    <li ng-repeat="menuItem in Menu.Items" ng-class="{
                    '' : !menuItem.Active,
                    'active' : menuItem.Active
                 }">
                        <a href="{{menuItem.Href}}" ng-click="Menu.Change($index)"><b>{{menuItem.Name}}</b></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-button" ng-click="Menu.AfficherMenuSpecial = !Menu.AfficherMenuSpecial">
            <div ><i class="glyphicon glyphicon-th-list"></i></div>
        </div>
        <div ng-if="Menu.AfficherMenuSpecial == true">
            <div class="menu-button-element" ng-repeat="menuItem in Menu.Items" ng-click="Menu.Change($index)">
                <a href="{{menuItem.Href}}"><b>{{menuItem.Name}}</b></a>
            </div>
        </div>
        <div><a href="#/contact" ng-click="Menu.Change(4)"><b>Contactez-moi</b></a></div>
        <div>
            <a href="#/matrice"><b>Matrice Projets/Compétences</b></a>
        </div>
        <div class="row">
            <div class="main-content col-md-8 col-md-offset-2" ui-view></div>
        </div>
    </div>
</body>
</html>
