/* Colors */
/* Tailles */
.competence_page .title > div {
  display: inline-block; }

.competence_page .title .checkbox-slider--b input + span:after {
  background-color: white; }

.competence_page .title .checkbox-slider--b input:checked + span:before {
  background-color: #230138; }

.competence_page .toggle {
  padding-top: 20px;
  padding-left: 130px;
  width: 500px; }
  .competence_page .toggle span {
    margin-left: 5px;
    margin-right: 5px; }

.competence_page .radio label, .competence_page .checkbox label {
  font-weight: bold;
  font-size: large; }

.competence_page .checkbox-slider--b input + span:before {
  margin-left: 260px; }

.competence_page .checkbox-slider--b input:checked + span:after,
.competence_page .checkbox-slider--b input:checked + span:after {
  margin-top: 20px;
  margin-left: 280px; }

.competence_page .checkbox-slider--b input + span:after,
.competence_page .checkbox-slider--b input + span:after {
  margin-top: 20px;
  margin-left: 260px; }
